<a href="https://colab.research.google.com/github/Glendah-Nyabuto/week41p/blob/main/Week4IP_Glendah_Moraa_2021_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROBLEM STATEMENT**

On this project we will be working on data science process that will help us give recomendations to an electric car sharing company in Paris to process station data that will enable in the understanding of the electric car usage over time.
In the analysis we will be reququired to solve the following research question:

*   Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
*   What is the most popular hour for returning cars
*  What station is the most popular
*  What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code
*  Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars

# **Loading Data**

In [24]:
#importing libraries 

#importing pandas

import pandas as pd

#importing numpy

import numpy as np

## **1.1 Understanding the data**

In [25]:
# Reading our dataframe

df = pd.read_csv('/content/Autolib_dataset (2) (4).csv')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [26]:
#previewing the first 10 record of our data frame

df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [27]:
#checking for the size and shape and  of our dataframe
def size_shape(data):
    return data.info(), data.shape, data.size


size_shape(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

(None, (5000, 25), 125000)

# DATA CLEANING

## 1.1 Validity

In [28]:
# Dropping useless columns

df.drop(columns= ['Cars', 'Geo point', 'Displayed comment', 'ID', 'Scheduled at', 'Rental status'], inplace = True)
df

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 19 columns]

# **COMPLETENESS**

In [29]:
# checking for null values

df.isnull().sum()

# There are no null values

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
Kind                   0
Postal code            0
Public name            0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

# **CONSISTENCY**

In [30]:
#Checking for duplicated records

df.duplicated().sum()

#there are no duplicated records

0

# UNIFORMITY

In [31]:
#Changing the uniformity in columns 

df.columns = df.columns.str.strip().str.title()

#Now we can check whether the changes we made

df.columns

Index(['Address', 'Bluecar Counter', 'Utilib Counter', 'Utilib 1.4 Counter',
       'Charge Slots', 'Charging Status', 'City', 'Kind', 'Postal Code',
       'Public Name', 'Slots', 'Station Type', 'Status', 'Subscription Status',
       'Year', 'Month', 'Day', 'Hour', 'Minute'],
      dtype='object')

In [32]:
#preview our data frame with changed column names
df

                                 Address  Bluecar Counter  ...  Hour  Minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 19 columns]

# **MERGING COLUMNS**

In [33]:
#merging 
df['Date Time'] = pd.to_datetime(df[['Year', 'Month', 'Day', 'Hour', 'Minute']])
autolib = df.sort_values(by='Date Time')
autolib.head(5)

                               Address  ...           Date Time
1046  112 Rue Monge BÃ¢timent Lieu-dit  ... 2018-04-01 00:00:00
1107          19 place de la Madeleine  ... 2018-04-01 00:02:00
2874         44 rue SÃ©bastien Mercier  ... 2018-04-01 00:02:00
2059                   2 Avenue Mozart  ... 2018-04-01 00:03:00
4453          2 rue Neuve Saint-Pierre  ... 2018-04-01 00:04:00

[5 rows x 20 columns]

In [34]:
# sorting the dataset ny Punlic name and date
autolib_set = autolib.groupby(['Date Time','Public Name', 'City']).sum().sort_values(['Public Name', 'Date Time'], ascending=[True, True])
autolib_set.reset_index(inplace=True)

In [35]:
# Creating boundaries where the pupbic names are diffrent to enable the comparison
autolib_set['Comparison'] = autolib_set['Public Name'].eq(autolib_set['Public Name'].shift())
autolib_set.head(5)

            Date Time                       Public Name  ... Minute  Comparison
0 2018-04-02 19:28:00            Alfortville/Blanqui/61  ...     28       False
1 2018-04-04 09:05:00            Alfortville/Blanqui/61  ...      5        True
2 2018-04-07 18:40:00            Alfortville/Blanqui/61  ...     40        True
3 2018-04-09 09:01:00            Alfortville/Blanqui/61  ...      1        True
4 2018-04-01 00:36:00  Alfortville/Charles de Gaulle/16  ...     36       False

[5 rows x 15 columns]

In [36]:
# creatind a column to shoe the diffrence in Blue car counter
autolib_set['Blue Car Diff']= autolib_set['Bluecar Counter'].shift(1) - autolib_set['Bluecar Counter']
autolib_set.head(5)

            Date Time  ... Blue Car Diff
0 2018-04-02 19:28:00  ...           NaN
1 2018-04-04 09:05:00  ...           0.0
2 2018-04-07 18:40:00  ...           0.0
3 2018-04-09 09:01:00  ...           0.0
4 2018-04-01 00:36:00  ...          -2.0

[5 rows x 16 columns]

In [37]:
# Creating the the column for total utilib counter

autolib_set['Utilib Tot'] = autolib_set['Utilib Counter'] + autolib_set['Utilib 1.4 Counter']

#creatting a column for the total utilib counter per hour
autolib_set['Utilib Tot Count']= autolib_set['Utilib Tot'].shift(1) - autolib_set['Utilib Tot']
autolib_set.head(5)

            Date Time  ... Utilib Tot Count
0 2018-04-02 19:28:00  ...              NaN
1 2018-04-04 09:05:00  ...              0.0
2 2018-04-07 18:40:00  ...              0.0
3 2018-04-09 09:01:00  ...              0.0
4 2018-04-01 00:36:00  ...              0.0

[5 rows x 18 columns]

In [38]:
autolib_set.loc[autolib_set['Comparison'] == False, 'Blue Car Diff'] = autolib_set['Bluecar Counter']*-1
autolib_set.loc[autolib_set['Comparison'] == False, 'Utilib Tot Count'] = autolib_set['Utilib Tot Count']*-1

# **ANALYSIS**

## Answering questions

In [22]:
# 1. The most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
#Explanation:
# From the Blue car diff column we realize that if it is positive it indicates that cars were picked up(rented)
# Which probaly means the hour with the highest Postive Blues car defrence is the hour which most cars were pickes 

auto_paris = autolib_set.loc[autolib_set['City'] == 'Paris']

print('The most popular hour of the day for picking up a shared electric car (Bluecar) is:')
auto_paris.loc[auto_paris['Blue Car Diff']>0].groupby(['Hour']).sum()['Blue Car Diff'].sort_values(ascending =False).head(1)

The most popular hour of the day for picking up a shared electric car (Bluecar) is:

Hour
21    109.0
18     91.0
22     88.0
17     88.0
10     81.0
Name: Blue Car Diff, dtype: float64

In [23]:
# 2. Popular hour for returning cars (blue car counter)
#Explanation:
#From the Blue car diff column we realize that if it is negative it indicates that cars were returned
# Which probaly means the hour with the lowest negative Blues car defrence is the hour which most cars were returned

print('The Popular hour for returning cars (blue car counter) is:')
auto_paris[auto_paris['Blue Car Diff']<0].groupby('Hour').sum()['Blue Car Diff'].sort_values(ascending = True).head()

The Popular hour for returning cars (blue car counter) is:

Hour
9    -147.0
12   -141.0
6    -137.0
10   -129.0
21   -127.0
Name: Blue Car Diff, dtype: float64

In [21]:
# 3. Popular hour for picking cars(Utilib Counter and Utilib 1.4 Counter)
#Explanation:
#From the Utilib Tot Count column we realize that if it is positive it indicates that cars were picked up(rented)
# Which probaly means the hour with the highest Postive Utilib Tot Count is the hour which most cars were pickes 

print('The popular hour for picking cars(Utilib Counter and Utilib 1.4 Counter) is:')
auto_paris[auto_paris['Utilib Tot Count']>0].groupby('Hour').sum()['Utilib Tot Count'].sort_values(ascending =False).head(1)

Hour
11    22.0
Name: Utilib Tot Count, dtype: float64

In [39]:
# 4. Popular hour for returning cars (Utilib Counter and Utilib 1.4 Counter)
#Explanation
#From the Blue car diff column we realize that if it is negative it indicates that cars were returned
# Which probaly means the hour with the lowest negative Blues car defrence is the hour which most cars were returned

print('The Popular hour for returning cars (Utilib Counter and Utilib 1.4 Counter) is:')
auto_paris[auto_paris['Utilib Tot Count']>0].groupby('Hour').sum()['Utilib Tot Count'].sort_values(ascending =True).head(1)

The Popular hour for returning cars (Utilib Counter and Utilib 1.4 Counter) is:

Hour
14    8.0
Name: Utilib Tot Count, dtype: float64

In [40]:
#The most popular station
auto_paris['Public Name'].value_counts().head()

Paris/Porte de Montrouge/8    13
Paris/Grenelle 31/Parking     11
Paris/Mathis/35               11
Paris/Philippe Auguste/126    11
Paris/Courcelles/69           11
Name: Public Name, dtype: int64

In [41]:
#most pupular station at the most picking hour
auto_paris[auto_paris['Hour'] == 21]['Public Name'].value_counts().head()

Paris/Tronchet/19     4
Paris/Voltaire/182    3
Paris/Danton/8        2
Paris/Mozart/68       2
Paris/Reille/59       2
Name: Public Name, dtype: int64

In [42]:
#popular postal code for picking up Blue cars
auto_paris.loc[auto_paris['Blue Car Diff'] > 0]['Postal Code'].value_counts().head()

75015    76
75017    74
75016    70
75011    53
75013    52
Name: Postal Code, dtype: int64

In [43]:
#popular postal code in the most popular for picking up Blue cars
auto_paris.loc[auto_paris['Hour'] == 21]['Postal Code'].value_counts().head()

75014    16
75019    15
75016    13
75012    12
75008    11
Name: Postal Code, dtype: int64